html {
  background-size: cover;
  height: 100%;
}

body {
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.alive-cell {
  height: 40px;
  width: 40px;
  background-color: black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.dead-cell {
  height: 40px;
  width: 40px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.start {
  position: absolute;
  top: 30%;
  left: 70%;
  width: 15%;
  height: 10%;
  font-size: 200%;
  border: 3px solid black;
  border-radius: 5%;
}

.rowContainer {
  width: 50%;
}

.instructions {
  font-size: 150%;
  position: absolute;
  text-align: center;
  right: 5%;
  width: 40%;
}
